<GridLayout rows="*, auto *, auto, auto">
  <Image src="https://s7d2.scene7.com/is/image/TWCNews/1031_nc_sunny_weather_2-1" rowSpan="5" iosOverflowSafeArea="true" stretch="aspectFill"></Image>
  <StackLayout row="1" class="text-center">
    <Label text="Dover" class="h2" style="color: white;"></Label>
    <Label text="Sunny" class="h3" style="color: white;"></Label>
    <Label text="79" class="h1" style="color: white;"></Label>
  </StackLayout>

  <StackLayout row="3">
    <GridLayout columns="auto, *, auto, auto" style="color: white; border-bottom-width: 1; border-bottom-color: rgba(255,255,255,0.2)">
      <Label text="Friday" class="m-x-10 m-b-10"></Label>
      <Label text="TODAY" col="1" class="m-x-10 m-b-10"></Label>
      <Label text="91" col="2" class="m-x-10 m-b-10"></Label>
      <Label text="65" col="3" class="m-x-10 m-b-10" opacity=".5"></Label>
    </GridLayout>
    <ScrollView orientation="horizontal">
      <StackLayout orientation="horizontal">
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="Now"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="79"></Label>
        </StackLayout>  
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="10am"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="81"></Label>
        </StackLayout>  
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="11am"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="82"></Label>
        </StackLayout>
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="12pm"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="83"></Label>
        </StackLayout>  
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="1pm"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="85"></Label>
        </StackLayout>  
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="2pm"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="89"></Label>
        </StackLayout>  
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="3pm"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="89"></Label>
        </StackLayout>  
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="4pm"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="89"></Label>
        </StackLayout>
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="5pm"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="90"></Label>
        </StackLayout>  
        <StackLayout style="color: white; margin: 10; font-size: 13;" class="text-center">
          <Label text="6pm"></Label>
          <Image src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
          <Label text="89"></Label>
        </StackLayout>  
      </StackLayout>
    </ScrollView>
  </StackLayout>


  <StackLayout row="4" class="p-t-10" style="color: white; border-top-width: 1; border-top-color: rgba(255,255,255,0.2)">
    <GridLayout rows="auto" columns="120, *, 60, 60">
      <Label text="Saturday" class="m-x-10 m-b-10"></Label>
      <Image col="1" src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
      <Label col="2" text="88" class="text-center"></Label>
      <Label col="3" text="66" class="text-center" opacity=".5"></Label>
    </GridLayout>
    <GridLayout rows="auto" columns="120, *, 60, 60">
      <Label text="Sunday" class="m-x-10 m-b-10"></Label>
      <Image col="1" src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
      <Label col="2" text="88" class="text-center"></Label>
      <Label col="3" text="66" class="text-center" opacity=".5"></Label>
    </GridLayout>
    <GridLayout rows="auto" columns="120, *, 60, 60">
      <Label text="Monday" class="m-x-10 m-b-10"></Label>
      <Image col="1" src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
      <Label col="2" text="88" class="text-center"></Label>
      <Label col="3" text="66" class="text-center" opacity=".5"></Label>
    </GridLayout>
    <GridLayout rows="auto" columns="120, *, 60, 60">
      <Label text="Tuesday" class="m-x-10 m-b-10"></Label>
      <Image col="1" src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
      <Label col="2" text="88" class="text-center"></Label>
      <Label col="3" text="66" class="text-center" opacity=".5"></Label>
    </GridLayout>
    <GridLayout rows="auto" columns="120, *, 60, 60">
      <Label text="Wednesday" class="m-x-10 m-b-10"></Label>
      <Image col="1" src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
      <Label col="2" text="88" class="text-center"></Label>
      <Label col="3" text="66" class="text-center" opacity=".5"></Label>
    </GridLayout>
    <GridLayout rows="auto" columns="120, *, 60, 60">
      <Label text="Thursday" class="m-x-10 m-b-10"></Label>
      <Image col="1" src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
      <Label col="2" text="88" class="text-center"></Label>
      <Label col="3" text="66" class="text-center" opacity=".5"></Label>
    </GridLayout>
    <GridLayout rows="auto" columns="120, *, 60, 60">
      <Label text="Friday" class="m-x-10 m-b-10"></Label>
      <Image col="1" src="https://cdn.pixabay.com/photo/2015/12/03/15/43/sun-1075154_960_720.png" height="20" margin="5"></Image>
      <Label col="2" text="109" class="text-center"></Label>
      <Label col="3" text="101" class="text-center" opacity=".5"></Label>
    </GridLayout>
  </StackLayout>

</GridLayout>