.p-40 {
  padding: 40;
}

.m-t-18 {
  margin-top: 18;
}

.v-top {
  vertical-align: top;
}

.v-center {
  vertical-align: center;
}

.v-bottom {
  vertical-align: bottom;
}

.h-left {
  horizontal-align: left;
}

.h-center {
  horizontal-align: center;
}

.h-right {
  horizontal-align: right;
}