// core theme ios/android variables here...
@import '~nativescript-theme-core/scss/variables';

// Our apps custom variables

// colors
$light: #efefef;
$gray: #6d6d6d;
$active: #2d94e3;

// text sizes
$large-text: 20;
$medium-text: 16;
$small-text: 12;